<ion-header>
  <ion-toolbar>
    <ion-title>
      結帳
    </ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">
        取消
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail text-wrap *ngIf="aeon.length !== 0">
      <ion-avatar slot="start">
        <ion-img class="supermarket" src="assets/supermarket-img/price_aeon.png"></ion-img>
      </ion-avatar>
      <ion-text>Aeon ${{total[1].toFixed(2)}}</ion-text>
    </ion-item>

    <ion-item detail text-wrap *ngIf="dch.length !== 0">
      <ion-avatar slot="start">
        <ion-img class="supermarket" src="assets/supermarket-img/price_dch.png"></ion-img>
      </ion-avatar>
      <ion-text>大昌行 ${{total[2].toFixed(2)}}</ion-text>
    </ion-item>

    <ion-item detail text-wrap *ngIf="marketplace.length !== 0">
      <ion-avatar slot="start">
        <ion-img class="supermarket" src="assets/supermarket-img/price_marketplace.png"></ion-img>
      </ion-avatar>
      <ion-text>Marketplace ${{total[3].toFixed(2)}}</ion-text>
    </ion-item>

    <ion-item detail (click)="placeOrder()" text-wrap *ngIf="parknshop.length !== 0">
      <ion-avatar slot="start">
        <ion-img class="supermarket" src="assets/supermarket-img/price_parknshop.png"></ion-img>
      </ion-avatar>
      <ion-text>百佳 ${{total[4].toFixed(2)}}</ion-text>
      <ion-badge slot="end" color="secondary">{{parknshop.length}}款貨品</ion-badge>
    </ion-item>

    <ion-item detail text-wrap *ngIf="wellcome.length !== 0">
      <ion-avatar slot="start">
        <ion-img class="supermarket" src="assets/supermarket-img/price_wellcome.png"></ion-img>
      </ion-avatar>
      <ion-text>惠康 ${{total[5].toFixed(2)}}</ion-text>
    </ion-item>

    <ion-item detail text-wrap *ngIf="waston.length !== 0">
      <ion-avatar slot="start">
        <ion-img class="supermarket" src="assets/supermarket-img/price_waston.png"></ion-img>
      </ion-avatar>
      <ion-text>屈臣氏 ${{total[6].toFixed(2)}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
