ion-button{
  --border-color: white ;
  --background :white;
  --color: #ff9500;
  padding-right: 0;
  padding-left: 0;
  --color-activated: white;
  --background-activated: #ff9500;
  height: border-box;
}
ion-input{
  text-align: center;
}
