<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="948793870391-33cd1nqn5ied19votl0ooirllu6iuvvt.apps.googleusercontent.com">
<ion-content>
    <ion-grid class="login">
        <button (click)="socialSignIn('facebook')">
            <ion-icon name="logo-facebook"></ion-icon>
        </button>
    </ion-grid>
    <ion-grid class="login">
        <button (click)="socialSignIn('google')">
            <ion-icon name="logo-google"></ion-icon>
        </button>
    </ion-grid>
</ion-content>


