ion-row {
  height: 30%;
  color: #ff9500;
  justify-content: center;
}
.facebook{
  position: relative;
  left:5%;
  --background: #3C5A99;
  --border-color: #3C5A99;
  color: white;
  height: 60%;
  width: 40%;
  align-content: center;
  --background-activated: #6180c1;
}
.google{
  position: relative;
  left: 10%;
  --background: #DB4437;
  --border-color: #DB4437;
  color: white;
  height: 60%;
  width: 40%;
  align-content: center;
  --background-activated: #e78178;
}
ion-button{
  width: 70%;
}

ion-img {
  height: 30px;
  width: 30px;
}

ion-grid{
  position: relative;
  height: 70%;
}
ion-item{
  position: relative;
}
ion-icon{
  height: content-box;
  width: content-box;
}

