<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="948793870391-33cd1nqn5ied19votl0ooirllu6iuvvt.apps.googleusercontent.com">
<ion-content>
    <ion-grid *ngIf="!login">
        <ion-row>
            <ion-col>
                <ion-button (click)="socialSignIn('facebook')">
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="socialSignIn('google')">
                    <ion-icon name="logo-google"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>


