<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">取消</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onConfirm()" color="success">確定</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>價格</ion-item>
  <ion-item>
    <ion-range dualKnobs="true" min="0" max="650" step="1" from="0" to="900" [(ngModel)]="knobValues" (ionChange)="setprice(knobValues)">
      <div slot="start">{{knobValues.lower}}</div>
      <div slot="end">{{knobValues.upper}}</div>
    </ion-range>
  </ion-item>
  <ion-item>品牌</ion-item>
  <ion-list>
    <ion-radio-group *ngFor=" let brand of this.brands" >
      <ion-chip>
        <ion-label>{{brand}}</ion-label>
        <ion-radio  value="brand" (ionSelect) = 'addbrand(brand)'></ion-radio>
      </ion-chip>
    </ion-radio-group>
  </ion-list>
</ion-content>
