<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onConfirm()" color="success">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>價格</ion-item>
  <ion-item>
    <ion-range [(ngModel)]="price" (ionChange)="setprice(price)"
               min="0"
               max="999"
               step="1"
               snaps="true"
               color="primary"
               dualKnobs="true"
               [pin]="false">
      <ion-item slot="start" no-lines>{{price.lower}}</ion-item>
      <ion-item slot="end">{{price.upper}}</ion-item>
    </ion-range>
  </ion-item>
  <ion-item>品牌</ion-item>
  <ion-list>
    <ion-radio-group>
      <ion-radio *ngFor= "let brand of distinctbrand" [ngModel]="brand">{{brand}}</ion-radio>
    </ion-radio-group>
  </ion-list>
</ion-content>
