<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">取消</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onConfirm()" color="success">確定</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>價格</ion-item>
  <ion-item>
    <ion-range dualKnobs="true" min="0" max="999" step="1" from="0" to="900" [(ngModel)]="knobValues" (ionChange)="setprice(knobValues)">
      <div slot="start">{{knobValues.lower}}</div>
      <div slot="end">{{knobValues.upper}}</div>
    </ion-range>
  </ion-item>
  <ion-item>品牌</ion-item>
  <ion-list>
  <ion-radio-group>
    <ion-chip>
      <ion-label>富維克 Volvic</ion-label>
      <ion-radio value="富維克 Volvic"></ion-radio>
    </ion-chip>
    <ion-chip>
      <ion-label>依雲 Evian</ion-label>
      <ion-radio value="依雲 Evian"></ion-radio>
    </ion-chip>
    <ion-chip>
      <ion-label>甘露 Pierval</ion-label>
      <ion-radio value="甘露 Pierval"></ion-radio>
    </ion-chip>    <ion-chip>
    <ion-label>清涼水 Cool Water</ion-label>
    <ion-radio value="清涼水 Cool Water"></ion-radio>
  </ion-chip>    <ion-chip>
    <ion-label>比利時雪柏 Spa</ion-label>
    <ion-radio value="比利時雪柏 Spa"></ion-radio>
  </ion-chip>
    <ion-chip>
    <ion-label
    >聖沛黎洛 San Pellegrino</ion-label>
    <ion-radio value="聖沛黎洛 San Pellegrino"></ion-radio>
  </ion-chip>
  </ion-radio-group>
  </ion-list>
</ion-content>
