.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.total{
  font-size: small;
  color: #222428;
}
.totalamount{
  font-size: xx-large;
  font-weight: bold;
  color: #ff9950;
}
.orderfee{
  font-size: x-small;
  color: #ff9950;
}
.name{
  font-size: small;
  font-weight: bold;
}
