<ion-header>
  <ion-toolbar>
    <ion-title>
      購物車
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content body>
  <ion-grid>
    <ion-row><ion-button (click)="emptyCart()">Clear Cart</ion-button></ion-row>
    <ion-row><ion-button (click)="debug()">cartservice</ion-button></ion-row>
    <ion-row><ion-button (click)="debug2()">tab4cart</ion-button></ion-row>
    <ion-row><ion-button (click)="refreshCart()">refresh</ion-button></ion-row>
  </ion-grid>

  <ion-item>
    <ion-label>計算方式</ion-label>
    <ion-select [(ngModel)]="supermarket" (ionChange) = "calculateMethodChange()" placeholder="Select One">
      <ion-select-option value="min_price">按每件商品最低價計算</ion-select-option>
      <ion-select-option value="price_aeon">按Aeon計算</ion-select-option>
      <ion-select-option value="price_dch">按大昌行計算</ion-select-option>
      <ion-select-option value="price_marketplace">按Marketplace計算</ion-select-option>
      <ion-select-option value="price_parknshop">按百佳計算</ion-select-option>
      <ion-select-option value="price_wellcome">按惠康計算</ion-select-option>
      <ion-select-option value="price_waston">按屈臣氏計算</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-list #slidingList>
    <ion-item-sliding *ngFor="let products of cart">
      <ion-item *ngIf="products.quantity!==0">
        <ion-text class="name">{{products.item.name_tc}}</ion-text>

        <ion-text>${{products.item.displayPrice[1]}}</ion-text>

        <ion-badge slot="end" color="primary">{{products.quantity}}</ion-badge>

        <ion-select [(ngModel)]="products.item.displayPrice[0]" (ionChange) = "displaySupermarketChange(products)" placeholder="Select One">
          <ion-select-option value="price_aeon">Aeon ${{products.item.price_aeon}}</ion-select-option>
          <ion-select-option value="price_dch">大昌行 ${{products.item.price_dch}}</ion-select-option>
          <ion-select-option value="price_marketplace">Marketplace ${{products.item.price_marketplace}}</ion-select-option>
          <ion-select-option value="price_parknshop">百佳 ${{products.item.price_parknshop}}</ion-select-option>
          <ion-select-option value="price_wellcome">惠康 ${{products.item.price_wellcome}}</ion-select-option>
          <ion-select-option value="price_waston">屈臣氏 ${{products.item.price_waston}}</ion-select-option>
        </ion-select>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="removeProduct(products.item);">刪除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item>
      <ion-label>送貨服務？</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="delivery"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-text class="total">總數 {{total[0]}}</ion-text>
    </ion-item>

    <ion-item *ngIf="delivery === true">
      <ion-text class="deliveryFee">送貨費用</ion-text>
    </ion-item>
  </ion-list>

</ion-content>
