agm-map {
  position: sticky;
  width: 100%;
  height: 100%;
}
agm-info-window{
  color: #ff9500;
}
ion-header{
  position: sticky;
  height: 10%;
}
ion-segment{
  padding-top: 3%;
  width: 90%;
  padding-left: 6%;
}
ion-segment-button{
  --color-activated: #ffff;
  --color-checked: #ffff;
  --indicator-color: #ffff;
  --background: white;
  opacity: 90%;
}
ion-searchbar {
  position: relative;
  width: 100%;
  --background: white;
  --color: #ff9500;
  --icon-color: #ff9500;
  --placeholder-color: #ff950;
  border: thin white;
  height: 90%;
}
ion-content{
  position: relative;
  --color:#ff9500;
}
ion-list{
  left: 10%;
  width: 100%;
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: #feca7e;
  margin-bottom: 2%;
}
ion-item{
  border-width: 0;
  --background: white;
  --color: #ff950;
  --color-activated: #feca7e;
  --backgound-activated: white;
  height: 5%;
  padding: 0px;
}
.name{
  font-weight: bolder;
  font-size: medium;
  margin-bottom: 3%;
}
.info{
  font-size: medium;
}
ion-grid{
  padding-left: 5%;
}
button{
  size: A3;
  background-color: #ff9500;
  color: white;
}

