<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-searchbar #box  cancelButtonText="Custom Cancel" (keyup.enter)="Search(box.value)"  > </ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<ion-content>
  <ion-list *ngFor="let store of storeinfos">
    <ion-grid>
      <ion-row>地址: {{store.address}}</ion-row>
      <ion-row>營業時間：{{store.ohfri}}</ion-row>
      <ion-row>電話：{{store.phone}}</ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
