<ion-header>
  <ion-toolbar>
    <ion-title>
      Category
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-img src="image/1.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/2.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/3.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/4.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/5.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/6.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/7.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/8.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/9.png"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="image/10.png"></ion-img>
    </ion-item>
  </ion-card>
</ion-content>
