<ion-header>
  <ion-toolbar>
    <ion-title>
      Category
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <table clsss="catetable">
    <tr>
      <th><ion-img src="./assets/image/1.png" ></ion-img></th>
      <th><ion-img src="./assets/image/2.png" ></ion-img></th>
    </tr>
    <tr>
      <th><ion-img src="./assets/image/3.png" ></ion-img></th>
      <th><ion-img src="./assets/image/4.png" ></ion-img></th>
    </tr>
    <tr>
      <th><ion-img src="./assets/image/5.png" ></ion-img></th>
      <th><ion-img src="./assets/image/6.png" ></ion-img></th>
    </tr>
    <tr>
      <th><ion-img src="./assets/image/7.png" ></ion-img></th>
      <th><ion-img src="./assets/image/8.png" ></ion-img></th>
    </tr>
    <tr>
      <th><ion-img src="./assets/image/9.png" ></ion-img></th>
      <th><ion-img src="./assets/image/10.png" ></ion-img></th>
    </tr>
  </table>

</ion-content>

