<head></head>

<ion-header>
  <ion-toolbar>
    <ion-title>貨品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content body>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/product-img/{{display.barcode}}.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-button (click)="popOver(display)">
        <ion-icon name="cart"></ion-icon>
    </ion-button>

    <ion-row>
      <ion-col size="8">
        <ion-text class="brand">{{display.brand_tc}}<br></ion-text>
        <ion-text class="name">{{display.name_tc}}</ion-text>
      </ion-col>

      <ion-col size="2">
        <ion-img class="supermarket" src="assets/supermarket-img/{{sorted[0][0]}}.png"></ion-img>
      </ion-col>

      <ion-col size="2">
        <ion-text class="price">{{sorted[0][1]}}</ion-text>
      </ion-col>

    </ion-row>

    <ion-row>
        <ion-col size="4"*ngFor="let i of sorted | slice: 1">
            <ion-row>
                <ion-col>
                    <ion-img class="supermarket" src="assets/supermarket-img/{{i[0]}}.png"></ion-img>
                </ion-col>
                <ion-col>
                    <ion-text class="price">{{i[1]}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        price trend
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

