<head>
  <script src="jquery-3.3.1.min.js"></script>
</head>

<ion-header>
  <ion-toolbar>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content body>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/product-img/089782040015.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-text class="brand">嘉頓 Garden<br></ion-text>
        <ion-text class="name">孖寶蛋糕 - 櫻桃提子 75克</ion-text>
      </ion-col>


            <ion-col align-self-center="" size="2">
              <ion-img class="supermarket" src="assets/supermarket-img/parknshop.png"></ion-img>
            </ion-col>

            <ion-col align-self-center="" size="2">
              <ion-text class="price">$8.40</ion-text>
            </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-img class="supermarket" src="assets/supermarket-img/marketplace.png"></ion-img>
      </ion-col>

      <ion-col align-self-center="">
        <ion-text class="price">$8.40</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        price trend
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

