<head></head>

<ion-header>
  <ion-toolbar>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content body>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/product-img/089782040015.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ul>
        <ion-text class="brand">{{display}}<br></ion-text>
        <ion-text class="name">{{items[1].name_en}}</ion-text>
        </ul>
      </ion-col>


            <ion-col align-self-center="" size="2">
              <ion-img class="supermarket" src="assets/supermarket-img/parknshop.png"></ion-img>
            </ion-col>

            <ion-col align-self-center="" size="2">
              <ion-text class="price">{{itemshow.price_wellcome}}</ion-text>
            </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-img class="supermarket" src="assets/supermarket-img/marketplace.png"></ion-img>
      </ion-col>

      <ion-col align-self-center="">
        <ion-text class="price">{{itemshow.price_marketplace}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        price trend
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

