img {
  height: 100%;
  width: 100%
}

ion-button {
  width: 100%
}

ion-img {
  height: 30px;
  width: 30px;
}

ion-row {
  width: 100%;
  align-content: start;
  vertical-align: center;
}

.brand {
  color: darkorange;
  font-size: 15px;
}

.chart {
  height: 100%;
  width: 100%;
}

.name {
  color: darkorange;
  font-size: 20px;
  font-weight: bold;
}

.product {
  height: 100%;
  width: 100%
}

.price {
  float: left;
  font-size: 15px;
}

.remark{
  align-content: end;
}
ion-grid{
  width: 100%;
  margin: 0;
  padding: 0;
}
ion-chip{
  align-content: start;
  --color: #ff9500 ;
  --background:#ffeed6;
  white-space: nowrap;
}
ion-col{
  vertical-align: center;
}
ion-text{
  padding: 7%;
}
