img {
  height: 100%;
  width: 100%
}

ion-button {
  width: 100%
}

ion-img {
  float: right;
  height: 30px;
  weight: 30px;
}

.brand {
  color: darkorange;
  font-size: 15px;
}

.chart {
  height: 100%;
  width: 100%;
}

.name {
  color: darkorange;
  font-size: 20px;
  font-weight: bold;
}

.product {
  height: 100%;
  width: 100%
}

.price {
  float: left;
  font-size: 15px;
}


