  .shop{--border-color: #ff9500 ;
  --background : white;
  --border-radius: 15%;
  --color: #ff9500;
  --border-style: solid;
  --border-width: thin;
}
ion-searchbar{
  --background: white;
  --color: #ff9500 ;
  --icon-color: #ff9500;
  --placeholder-color: #ff950;
  border-width: thin;
  border-radius: 15%;
  border-color: #ff9500 ;
}
ion-item{
  --color: #ff9500;
  font-size: small;
}
.viewbu{
  --border-color: #ff9500 ;
  --background : white;
  --color: #ff9500 ;
  max-width: fit-content;
}
